body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: pink;
    color: #800000;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 3em;
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

button:hover {
    background-color: #ff1493;
}

img {
    width: 200px;
    margin-top: 20px;
      }
